@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
html,
body {
    scroll-behavior: smooth;
}

.react-multi-carousel-track {
    height: 100%;
}

.react-multi-carousel-list {
    height: 100%;
}